.tabs {
  padding: 0 3rem;
  @media screen and (max-width: "700px") {
    padding: 0 1rem;
  }

  .css-dlxn8g {
    border: none !important;
  }

  .MuiButtonBase-root {
    background-color: white !important;
    padding: 0.5rem 2rem !important;
    @media screen and (max-width: "700px") {
      // padding: 0.3rem !important;
      // font-size: 11px;
      // min-height: 20px !important;
    }
  }

  .MuiTabs-flexContainer {
    margin: 2.5rem 0;
    margin-bottom: 1.5rem;
    background: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    @media screen and (max-width: "700px") {
      flex-direction: column;
      margin: 0 auto;
      margin-top: 1rem;
    }
  }

  .Mui-selected {
    background: #4196f0 !important;
    // padding: 0.3rem!important;

    border-radius: 6px !important;

    color: white;
    font-weight: 700;
    border: none !important;
    @media screen and (max-width: "700px") {
      // padding: 10px 0.5rem !important;
    }
  }
  .MuiTabs-indicator {
    height: 0px !important;
  }
}
